$primary:#c12826;
$beige:#f9f7eb;
$facebook:#3b5998;
$light-border:#dddde5;
$link:#08c;
$hover:#f6f6f6;
$infobox-bottom:#f8f8f8;

$navbar-height:50px;
$sidebar-width:400px;
$infobox-width:350px;

$responsive-width-twoline:800px;

html, body {
    margin:0;
    padding:0;
	height:100%;
}

#debug {
	position:absolute;
	top:0;
	left:0;
	opacity:0.2;
	display:none;
	z-index:10000000;
	&:hover {
		opacity:1;
	}
}

pre, #debug {
	font-family: Monaco,"DejaVu Sans Mono","Courier New",monospace;
	border: 2px solid #ddd;
	background-color: #333;
	color: #fff;
	padding: 10px;
	-webkit-font-smoothing: auto;
	overflow: hidden;
}

h1,h2,h3,h4,h5,h6,.heading {
	font-family:'Raleway', sans-serif;
	font-weight:300;
	-webkit-font-feature-settings: "liga" 0;
	-moz-font-feature-settings: "liga=0";
}

#navbar {
	position:fixed;
	top:0; left:0;
	z-index:10000 !important;
	width:100%;
	height:$navbar-height;
	background:white;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
	& > .inner{
		padding:10px;
		.logo {

		}
		.adauga-anunt-btn {

		}
		.nav-right {
			margin-right:5px;
			img {
				vertical-align:middle;
			}
			.nav-right-add {
				margin-right:15px;
			}
			.nav-right-settings {
				margin-top:5px;
				a {
					outline:0;
				}
			}
		}
		.nav-dropdown-container {
			position:relative;
			.nav-dropdown {
				display:none;
				position:absolute;
				right:-9px;
				top:40px;
				min-width:150px;
				background:white;
				-webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.1);
				box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.1);
				border:1px solid #ccc;
				border-radius:5px;
				-webkit-border-radius:5px;
				-moz-border-radius:5px;
				list-style:none;
				padding:5px 0;
				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
				border-radius: 6px;
				-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
				-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
				box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
				-webkit-background-clip: padding-box;
				-moz-background-clip: padding;
				background-clip: padding-box;
				z-index:100;
				li {
					a {
						display:block;
						padding:5px 12.5px;
						text-decoration:none;
						&:hover {
							color:white;
							background-color: #0081c2;
							background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
							background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
							background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
							background-image: -o-linear-gradient(top, #0088cc, #0077b3);
							background-image: linear-gradient(to bottom, #0088cc, #0077b3);
							background-repeat: repeat-x;
							filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
						}
					}
				}
				&:before {
					position: absolute;
					top: -7px;
					right: 9px;
					display: inline-block;
					border-right: 7px solid transparent;
					border-bottom: 7px solid #ccc;
					border-left: 7px solid transparent;
					border-bottom-color: rgba(0, 0, 0, 0.2);
					content: '';
				}
				&:after {
					position: absolute;
					top: -6px;
					right: 10px;
					display: inline-block;
					border-right: 6px solid transparent;
					border-bottom: 6px solid #ffffff;
					border-left: 6px solid transparent;
					content: '';
				}
			}
		}
	}
}

#sidebar {
	position:fixed;
	top:$navbar-height;
	bottom:0;
	left:0;
	width:$sidebar-width;
	background:white;
	overflow:scroll;
	overflow-y: scroll;
	overflow-x: hidden;
	@media (max-width: $responsive-width-twoline) {
		position:static;
		width:100%;
		overflow:visible;
	}
	#sidebar-nav {
		& > .inner {
			padding:10px;
			.section-button {
				text-align:center;
				width:33%;
				float:left;
				a {
					display:block;
					border-bottom:1px solid $light-border;
					padding:10px;
					color:#222;
					&:hover {
						text-decoration:none;
						background:$hover;
					}
					&:active {
					}
				}
				&.current {
					a {
						border:1px solid $light-border;
						border-bottom:0;
						border-top:3px solid $primary;
						position:relative;
						top:-2px;
						&:hover {
							background:transparent !important;
						}
					}
				}
			}
		}
	}
	#sidebar-content {
		.sidebar-section {
			& > .inner {
				padding:10px;
			}
		}
	}
}

#map {
	position:fixed;
	left:$sidebar-width;
	top:$navbar-height;
	bottom:0;
	right:0;
	@media (max-width: $responsive-width-twoline) {
		position:static;
		margin-top:$navbar-height;
		width:100%;
		height:300px;
	}
	& > .inner {
		height:100%;
		article {
			height:100%;
			#map_canvas {
				height:100% !important;
				width:100% !important;
			}
		}
	}
}

.broadcasts-list {
	& .broadcast {
		& > a {
			color:#222 !important;
			text-decoration:none !important;
			padding:15px 0 18px 0;
			display:block;
			.content {
				.username {
					font-weight:bold;
					color:$link;
				}
			}
			.details {
				color:#aaa;
			}
		}
		&:hover > a {
			background:$hover;
		}
		&:last-child {
			border-bottom:0;
		}
	}
	hr {
		padding:0;
		margin:0;
	}
}

.infoBox {
	/* width and positioning is set in markers.js */
	& > img {
		/* margin is set in markers.js */
		background: no-repeat url('http://maps.gstatic.com/mapfiles/hpimgs28.png') -108px -26px;
		width: 10px;
		height: 10px;
		z-index:100;
	}
	.infobox-content {
		border:1px solid $light-border;
		background:white;
		position:relative;
		.content {
			padding:15px;
		}
		.broadcast {
			.content {
				padding:15px;
				.top {
					margin-top:5px;
					margin-bottom:15px;
					h3 {
						margin:0;
						line-height:1;
					}
					.group {
						color:#aaa;
					}
				}
				.description {
					margin:5px 0;
					p:last-child {
						margin-bottom:0;
					}
				}
			}
			.details {
				height:26px;
				padding:15px;
				background:$infobox-bottom;
				.distance {
					line-height:26px;
				}
			}
		}
		&:after {
			content:"";
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid $infobox-bottom;
			position:absolute;
			bottom:-10px;
			left:$infobox-width/2 - 10 - 1;
		}
		&:before {
			content:"";
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid $light-border;
			position:absolute;
			bottom:-11px;
			left:$infobox-width/2 - 10 - 1;
		}
	}
}

#broadcastForm{
	margin:0; padding:0;
	input, select, textarea, .select2-container {
		width:97%;
		margin-bottom:15px;
	}
	.info {
		line-height:1;
	}
}

$bgImage: "../img/map_blur.jpg";

#page-landing, #page-landing-reserved {
	height:100%;
	background:url($bgImage) no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=$bgImage, sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=$bgImage, sizingMethod='scale')";

	margin:0 auto;
	text-align:center;

	.logo, .login {
		margin:0 auto;
	}

	hr {
		border-top:1px solid rgba(255,255,255,0.4);
		border-bottom:1px solid rgba(255,255,255,0.6);
		height:0;
		width:600px;
		margin:0 auto;
	}

	.logo {
		padding:50px 0 50px 0;
		margin:0;
	}

	.heading {
		display:inline-block;
		font-size:60pt;
		padding:100px 0 50px 0;
		line-height:1;
		margin:0 auto;
		.word {
			float:left;
		}
		.word.switcher {
			width:400px;
			text-align:center;
			border-bottom:3px dashed rgba(0,0,0,0.2);
		}
		.top > .inner, .bottom > .inner {
			display:inline-block;
			margin:0 auto;
		}
		@media (max-width: 710px) {
			font-size:40pt;
			.word.switcher {
				width:300px;
			}
		}
		@media (max-width: 530px) {
			font-size:50pt;
			.word {
				display:block;
				float:none;
			}
		}
	}

	&#page-landing-reserved h1 {
		font-size:60pt;
		padding:75px 0 75px 0;
		line-height:1;
	}

	.login {
		display:block;
		margin:50px 0;
		padding:0;
	}
}
