/* line 15, ../sass/style.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 21, ../sass/style.scss */
#debug {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  display: none;
  z-index: 10000000;
}
/* line 28, ../sass/style.scss */
#debug:hover {
  opacity: 1;
}

/* line 33, ../sass/style.scss */
pre, #debug {
  font-family: Monaco,"DejaVu Sans Mono","Courier New",monospace;
  border: 2px solid #ddd;
  background-color: #333;
  color: #fff;
  padding: 10px;
  -webkit-font-smoothing: auto;
  overflow: hidden;
}

/* line 43, ../sass/style.scss */
h1, h2, h3, h4, h5, h6, .heading {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  -webkit-font-feature-settings: "liga" 0;
  -moz-font-feature-settings: "liga=0";
}

/* line 50, ../sass/style.scss */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000 !important;
  width: 100%;
  height: 50px;
  background: white;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
/* line 59, ../sass/style.scss */
#navbar > .inner {
  padding: 10px;
}
/* line 67, ../sass/style.scss */
#navbar > .inner .nav-right {
  margin-right: 5px;
}
/* line 69, ../sass/style.scss */
#navbar > .inner .nav-right img {
  vertical-align: middle;
}
/* line 72, ../sass/style.scss */
#navbar > .inner .nav-right .nav-right-add {
  margin-right: 15px;
}
/* line 75, ../sass/style.scss */
#navbar > .inner .nav-right .nav-right-settings {
  margin-top: 5px;
}
/* line 77, ../sass/style.scss */
#navbar > .inner .nav-right .nav-right-settings a {
  outline: 0;
}
/* line 82, ../sass/style.scss */
#navbar > .inner .nav-dropdown-container {
  position: relative;
}
/* line 84, ../sass/style.scss */
#navbar > .inner .nav-dropdown-container .nav-dropdown {
  display: none;
  position: absolute;
  right: -9px;
  top: 40px;
  min-width: 150px;
  background: white;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  list-style: none;
  padding: 5px 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  z-index: 100;
}
/* line 110, ../sass/style.scss */
#navbar > .inner .nav-dropdown-container .nav-dropdown li a {
  display: block;
  padding: 5px 12.5px;
  text-decoration: none;
}
/* line 114, ../sass/style.scss */
#navbar > .inner .nav-dropdown-container .nav-dropdown li a:hover {
  color: white;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
/* line 127, ../sass/style.scss */
#navbar > .inner .nav-dropdown-container .nav-dropdown:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
/* line 138, ../sass/style.scss */
#navbar > .inner .nav-dropdown-container .nav-dropdown:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

/* line 153, ../sass/style.scss */
#sidebar {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  width: 400px;
  background: white;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
}
@media (max-width: 800px) {
  /* line 153, ../sass/style.scss */
  #sidebar {
    position: static;
    width: 100%;
    overflow: visible;
  }
}
/* line 169, ../sass/style.scss */
#sidebar #sidebar-nav > .inner {
  padding: 10px;
}
/* line 171, ../sass/style.scss */
#sidebar #sidebar-nav > .inner .section-button {
  text-align: center;
  width: 33%;
  float: left;
}
/* line 175, ../sass/style.scss */
#sidebar #sidebar-nav > .inner .section-button a {
  display: block;
  border-bottom: 1px solid #dddde5;
  padding: 10px;
  color: #222;
}
/* line 180, ../sass/style.scss */
#sidebar #sidebar-nav > .inner .section-button a:hover {
  text-decoration: none;
  background: #f6f6f6;
}
/* line 188, ../sass/style.scss */
#sidebar #sidebar-nav > .inner .section-button.current a {
  border: 1px solid #dddde5;
  border-bottom: 0;
  border-top: 3px solid #c12826;
  position: relative;
  top: -2px;
}
/* line 194, ../sass/style.scss */
#sidebar #sidebar-nav > .inner .section-button.current a:hover {
  background: transparent !important;
}
/* line 204, ../sass/style.scss */
#sidebar #sidebar-content .sidebar-section > .inner {
  padding: 10px;
}

/* line 211, ../sass/style.scss */
#map {
  position: fixed;
  left: 400px;
  top: 50px;
  bottom: 0;
  right: 0;
}
@media (max-width: 800px) {
  /* line 211, ../sass/style.scss */
  #map {
    position: static;
    margin-top: 50px;
    width: 100%;
    height: 300px;
  }
}
/* line 223, ../sass/style.scss */
#map > .inner {
  height: 100%;
}
/* line 225, ../sass/style.scss */
#map > .inner article {
  height: 100%;
}
/* line 227, ../sass/style.scss */
#map > .inner article #map_canvas {
  height: 100% !important;
  width: 100% !important;
}

/* line 237, ../sass/style.scss */
.broadcasts-list .broadcast > a {
  color: #222 !important;
  text-decoration: none !important;
  padding: 15px 0 18px 0;
  display: block;
}
/* line 243, ../sass/style.scss */
.broadcasts-list .broadcast > a .content .username {
  font-weight: bold;
  color: #0088cc;
}
/* line 248, ../sass/style.scss */
.broadcasts-list .broadcast > a .details {
  color: #aaa;
}
/* line 252, ../sass/style.scss */
.broadcasts-list .broadcast:hover > a {
  background: #f6f6f6;
}
/* line 255, ../sass/style.scss */
.broadcasts-list .broadcast:last-child {
  border-bottom: 0;
}
/* line 259, ../sass/style.scss */
.broadcasts-list hr {
  padding: 0;
  margin: 0;
}

/* line 265, ../sass/style.scss */
.infoBox {
  /* width and positioning is set in markers.js */
}
/* line 267, ../sass/style.scss */
.infoBox > img {
  /* margin is set in markers.js */
  background: no-repeat url("http://maps.gstatic.com/mapfiles/hpimgs28.png") -108px -26px;
  width: 10px;
  height: 10px;
  z-index: 100;
}
/* line 274, ../sass/style.scss */
.infoBox .infobox-content {
  border: 1px solid #dddde5;
  background: white;
  position: relative;
}
/* line 278, ../sass/style.scss */
.infoBox .infobox-content .content {
  padding: 15px;
}
/* line 282, ../sass/style.scss */
.infoBox .infobox-content .broadcast .content {
  padding: 15px;
}
/* line 284, ../sass/style.scss */
.infoBox .infobox-content .broadcast .content .top {
  margin-top: 5px;
  margin-bottom: 15px;
}
/* line 287, ../sass/style.scss */
.infoBox .infobox-content .broadcast .content .top h3 {
  margin: 0;
  line-height: 1;
}
/* line 291, ../sass/style.scss */
.infoBox .infobox-content .broadcast .content .top .group {
  color: #aaa;
}
/* line 295, ../sass/style.scss */
.infoBox .infobox-content .broadcast .content .description {
  margin: 5px 0;
}
/* line 297, ../sass/style.scss */
.infoBox .infobox-content .broadcast .content .description p:last-child {
  margin-bottom: 0;
}
/* line 302, ../sass/style.scss */
.infoBox .infobox-content .broadcast .details {
  height: 26px;
  padding: 15px;
  background: #f8f8f8;
}
/* line 306, ../sass/style.scss */
.infoBox .infobox-content .broadcast .details .distance {
  line-height: 26px;
}
/* line 311, ../sass/style.scss */
.infoBox .infobox-content:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f8f8f8;
  position: absolute;
  bottom: -10px;
  left: 164px;
}
/* line 322, ../sass/style.scss */
.infoBox .infobox-content:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #dddde5;
  position: absolute;
  bottom: -11px;
  left: 164px;
}

/* line 336, ../sass/style.scss */
#broadcastForm {
  margin: 0;
  padding: 0;
}
/* line 338, ../sass/style.scss */
#broadcastForm input, #broadcastForm select, #broadcastForm textarea, #broadcastForm .select2-container {
  width: 97%;
  margin-bottom: 15px;
}
/* line 342, ../sass/style.scss */
#broadcastForm .info {
  line-height: 1;
}

/* line 349, ../sass/style.scss */
#page-landing, #page-landing-reserved {
  height: 100%;
  background: url("../img/map_blur.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=$bgImage, sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=$bgImage, sizingMethod='scale')";
  margin: 0 auto;
  text-align: center;
}
/* line 362, ../sass/style.scss */
#page-landing .logo, #page-landing .login, #page-landing-reserved .logo, #page-landing-reserved .login {
  margin: 0 auto;
}
/* line 366, ../sass/style.scss */
#page-landing hr, #page-landing-reserved hr {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  height: 0;
  width: 600px;
  margin: 0 auto;
}
/* line 374, ../sass/style.scss */
#page-landing .logo, #page-landing-reserved .logo {
  padding: 50px 0 50px 0;
  margin: 0;
}
/* line 379, ../sass/style.scss */
#page-landing .heading, #page-landing-reserved .heading {
  display: inline-block;
  font-size: 60pt;
  padding: 100px 0 50px 0;
  line-height: 1;
  margin: 0 auto;
}
/* line 385, ../sass/style.scss */
#page-landing .heading .word, #page-landing-reserved .heading .word {
  float: left;
}
/* line 388, ../sass/style.scss */
#page-landing .heading .word.switcher, #page-landing-reserved .heading .word.switcher {
  width: 400px;
  text-align: center;
  border-bottom: 3px dashed rgba(0, 0, 0, 0.2);
}
/* line 393, ../sass/style.scss */
#page-landing .heading .top > .inner, #page-landing .heading .bottom > .inner, #page-landing-reserved .heading .top > .inner, #page-landing-reserved .heading .bottom > .inner {
  display: inline-block;
  margin: 0 auto;
}
@media (max-width: 710px) {
  /* line 379, ../sass/style.scss */
  #page-landing .heading, #page-landing-reserved .heading {
    font-size: 40pt;
  }
  /* line 399, ../sass/style.scss */
  #page-landing .heading .word.switcher, #page-landing-reserved .heading .word.switcher {
    width: 300px;
  }
}
@media (max-width: 530px) {
  /* line 379, ../sass/style.scss */
  #page-landing .heading, #page-landing-reserved .heading {
    font-size: 50pt;
  }
  /* line 405, ../sass/style.scss */
  #page-landing .heading .word, #page-landing-reserved .heading .word {
    display: block;
    float: none;
  }
}
/* line 412, ../sass/style.scss */
#page-landing#page-landing-reserved h1, #page-landing-reserved#page-landing-reserved h1 {
  font-size: 60pt;
  padding: 75px 0 75px 0;
  line-height: 1;
}
/* line 418, ../sass/style.scss */
#page-landing .login, #page-landing-reserved .login {
  display: block;
  margin: 50px 0;
  padding: 0;
}
